@import "tailwindcss";
/* Habilita variante dark basada en clase */
@custom-variant dark (&:where(.dark, .dark *));

* {
  transition:
    background-color 300ms ease,
    color 300ms ease,
    border-color 300ms ease;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #0a0a0a;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  -webkit-scrollbar-width: none;
  scrollbar-width: none;
}

.bg-grid-light {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

.bg-grid-dark {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 40px 40px;
}
